<div>
  <div class="d-flex flex-wrap" id="pokemons">
    <% @pokemons.each do |pokemon| %>
      <%= image_tag(pokemon.image_url, height: 100, width: 100, style: "object-fit: contain;") %>
    <% end %>
  </div>

  <div class="d-flex" id="pagy">
    <%== pagy_nav_js(@pagy) %>
  </div>
</div>

<% content_for(:javascript) do %>
  <%= javascript_include_tag("pagy_init") %>
<% end %>
