<div>
  <div class="d-flex flex-wrap">
    <% @pokemons.each do |pokemon| %>
      <%= image_tag(pokemon.image_url, height: 100, width: 100, style: "object-fit: contain;") %>
    <% end %>
  </div>

  <div class="d-flex">
    <%== render partial: "layouts/partials/bootstrap_nav", locals: { pagy: @pagy } %>
  </div>
</div>
